@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal style  */
*{
    margin:0;
    padding:0; 
}
body{
    font-family: fira-sans;
}

/* common style  */
/* text-color  */
.color-one{
    color: rgb(14, 14, 14);
}
.color-two{
    color: rgb(255, 255, 255);
}
.color-three{
    color: rgb(0, 106, 80);
}

/* background  */
.bg-one{
    background:rgb(198, 228, 214);
}
.bg-two{
    background: rgb(0, 106, 80);
}

/* button    */
.btn-one{ 
    font-size: 16px;
    font-family: fira-sans;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    padding: 10px 30px 10px 30px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    outline:none;
}

/* header and main width  */

header,main{
    max-width: 80%;
    margin:20px auto;
}

/* navbar style  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:40px;
}
nav .nav-title{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
}

/* banner section style  */

.banner{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    gap:50px;
    border-radius: 20px;
    padding:60px 80px;
    height:400px;
}

.banner-title{ 
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    opacity: 0.5;
    margin-top:45px;
    margin-bottom:20px;
}

.banner-subtitle{
    font-size: 48px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    margin-bottom:25px;

}
.banner button{
    font-size:18px;
}
.banner img{
    width: 450px;
    height:350px;
}


/* future vision section style  */
.vision-content{
    margin-top:120px;
}

.vision-title{
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
}
.vision-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-top:24px;
    margin-bottom: 32px;
}

.vision-card-container{
    display: flex;
    gap:20px;
}

.vision-card{
    width: 396px;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding:30px;
}

.vision-card-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    opacity:0.8;
    margin-top:26px;
    margin-bottom:12px;
}

.vision-card-description{      
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    opacity:0.7;
    margin-bottom:24px;
}